{% extends "base.html" %}
{% load staticfiles %}
{% load sql_web_extras %}

{% block css %}
    <link rel="stylesheet" href="{% static "tufte-css/tufte.css" %}"/>
{% endblock %}

{% block text_content %}
    <h1>{{ exercise.title }}</h1>
    {% autoescape off %}
        {{ exercise.rendered_description }}
    {% endautoescape %}
    <p>{% marginnote "message" message %}</p>
    <form action="." method="post" class="exercise-area">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Keyra SQL"/>
    </form>
    {% if schema_display %}
        {% include "snippets/schema_showcase.html" %}
    {% endif %}
{% endblock %}