{% extends "base.html" %}
{% load staticfiles %}


{% block css %}

    <link rel="stylesheet" href="{% static "d3-main-style.css" %}"/>
    <link rel="stylesheet" href="{% static "tufte-css/tufte.css" %}"/>
{% endblock %}
<body>
{% block text_content %}
    <article>
        <h1>Æfingar</h1>
        {% if incomplete %}
            <p>Eftirfarandi æfingar standa þér til boða:</p>
            <ul>
                {% for exercise in incomplete %}
                    <li><a href="{{ exercise.get_absolute_url }}">{{ exercise.title }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if complete %}
            <p>Þú hefur lokið eftirfarandi æfingum:</p>
            <ul>
                {% for exercise in incomplete %}
                    <li><a href="{{ exercise.get_absolute_url }}">{{ exercise.title }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </article>
{% endblock %}
{% block js %}
    <script src="{% static "d3/d3-min.js" %}"></script>
    <script src="{% static "d3-main-function.js" %}"></script>
{% endblock %}
</body>