{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static "tufte-css/tufte.css" %}"/>
{% endblock %}

{% block text_content %}
    <article>
        <h1>Hæ, {{ user.username }}</h1>
        <h2>Lesefni</h2>
        {% if unread_sections %}
            <p>Þú hefur mögulega áhuga á að lesa eftirfarandi greinar:
                <span>
                <label for="footnote-unread" class="margin-toggle">&#8853;</label><input type="checkbox"
                                                                                         id="footnote-unread"
                                                                                         class="margin-toggle"/><span
                        class="marginnote">Þetta lesefni er tengt efni sem þú hefur lesið áður.</span></span>
            </p>
            <ul>
                {% for section in unread_sections %}
                    <li>
                        <a href="{{ section.get_absolute_url }}">{{ section.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if read_sections %}
            <p>Þú hefur lesið:</p>
            <ul>
                {% for section in read_sections %}
                    <li>
                        <a href="{{ section.get_absolute_url }}">{{ section.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Þú hefur ekki enn lesið neinar greinar. Má ekki bjóða þér að líta á
                <a href="{% url "sections" %}">yfirlitið?</a></p>
        {% endif %}
        <h2>Námskeið</h2>
        <p>
            {% if currently_member_of %}
                {% if currently_member_of|length == 1 %}
                    Þú ert meðlimur í námskeiðinu
                {% else %}
                    Þú ert meðlimur í eftirfarandi námskeiðum:
                {% endif %}
                {{ currently_member_of|join:", " }}.
            {% else %}
                Þú ert ekki meðlimur í neinu námskeiði.
            {% endif %}
        </p>
        {% if available_courses %}
            <p>Þú getur skráð þig í eftirfarandi námskeið:
                {% for course in available_courses %}
                    <a href="{{ course.get_absolute_url }}">{{ course.name }}</a>
                    {% if not forloop.last %}
                        ,
                    {% endif %}
                {% endfor %}
            </p>
        {% endif %}
        <h2>Stillingar</h2>
        <div class="settings-change">
            <form action="." method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Uppfæra stillingar"/>
            </form>
        </div>
    </article>
{% endblock %}