{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static "tufte-css/tufte.css" %}"/>
{% endblock %}

{% block text_content %}
    <article>
        <h1>{{ section.title }}</h1>
        {% autoescape off %}
            {{ section.rendered_contents }}
        {% endautoescape %}
        {% if section.connected_to.count %}
            <p>
                Tengt efni:
                {% for s in section.connected_to.all %}
                    <a href="{{ s.get_absolute_url }}">{{ s.title }}</a>
                    {% if not forloop.last %}
                        ,
                    {% endif %}
                {% endfor %}
            </p>
        {% endif %}
    </article>
{% endblock %}

{% block js %}
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
{% endblock %}