{% extends "base.html" %}
{% load staticfiles %}


{% block css %}

    <link rel="stylesheet" href="{% static "d3-main-style.css" %}"/>
    <link rel="stylesheet" href="{% static "tufte-css/tufte.css" %}"/>
{% endblock %}
<body>
{% block text_content %}
    <article>
        {% for subject in subjects %}
            <div>
                <h2 id="subject-{{ subject.id }}" class="subject">{{ subject.title }}</h2>
                {% if subject.best_start %}
                    <p>Hér gæti verið gott að byrja að lesa
                        <a href="{% url "section" subject.best_start.slug %}">{{ subject.best_start.title }}</a>.
                    </p>
                {% endif %}
                <div>
                    <span>
                        <label for="{{ marginnote_id }}" class="margin-toggle">&#8853;</label>
                        <input type="checkbox" id="{{ marginnote_id }}" class="margin-toggle"/>
                        <span class="marginnote">
                        </span>
                    </span>
                </div>
                <ul>
                    {% for section in subject.section_set.all %}
                        {% if section.visible %}
                            <li>
                                <a href="{% url "section" section.slug %}">{{ section.title }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                {% if js_enabled %}
                    <div id="svg-container-{{ subject.id }}">
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </article>
{% endblock %}
{% if js_enabled %}
    {% block js %}
        <script src="{% static "d3/d3-min.js" %}"></script>
        <script src="{% static "d3-main-function.js" %}"></script>
    {% endblock %}
{% endif %}
</body>