{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static "tufte-css/tufte.css" %}"/>
{% endblock %}

{% block text_content %}
    <article>
        {% if not self.visible %}
            <p>Þessi grein er ósýnileg almennum notendum síðunnar.</p>
            <p>Sýnileika greinarinnar má breyta <a href="/admin/sql_web/section/{{ section.id }}/">hér</a>.</p>
        {% endif %}
        <h1>{{ section.title }}</h1>
        {% autoescape off %}
            {{ section.rendered_contents }}
        {% endautoescape %}
        {% if section.connected_to.count %}
            <h2>Tengt efni</h2>
            <p>
                {% for s in section.connected_to.all %}
                    <a href="{{ s.get_absolute_url }}">{{ s.title }}</a>
                    {% if not forloop.last %}
                        ,
                    {% endif %}
                {% endfor %}.
            </p>
        {% endif %}
        {% if section.associated_exercises.count %}
            <h2>Tengd verkefni</h2>
            <p>
                {% for e in section.associated_exercises.all %}
                    <a href="{{ e.get_absolute_url }}">{{ e.title }}</a>
                    {% if not forloop.last %}
                        ,
                    {% endif %}
                {% endfor %}.
            </p>
        {% endif %}
    </article>
{% endblock %}

{% block js %}
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
{% endblock %}