{% extends "base.html" %}
{% load sql_shortcuts %}

{% block text_content %}
    <article>
        <h1>{{ section.title }}</h1>
        {% autoescape off %}
            {{ section.html_contents|render }}
        {% endautoescape %}
        {% if section.connected_to.count %}
            <p>
            Tengt efni:
                {% for s in section.connected_to.all %}
                    <a href="{{ s.get_absolute_url }}">{{ s.title }}</a>
                    {% if not forloop.last %}
                        ,
                    {% endif %}
                {% endfor %}
            </p>
        {% endif %}
    </article>
{% endblock %}