{% extends "base.html" %}
{% load staticfiles %}


{% block css %}

    <link rel="stylesheet" href="{% static "d3-main-style.css" %}"/>
    <link rel="stylesheet" href="{% static "tufte-css/tufte.css" %}"/>
{% endblock %}
<body>
{% block text_content %}
    <article>
        {% for subject in subjects %}
            <div class="subject-container">
                <h2 id="subject-{{ subject.id }}" class="subject">{{ subject.title }}</h2>
                {% if js_enabled %}
                    <p>
                        <label for="marginnote-{{ subject.id }}" class="margin-toggle">&#8853;</label>
                        <input type="checkbox" id="marginnote-{{ subject.id }}" class="margin-toggle"/>
                        <span class="marginnote">
                        <strong>Tengsl greina undir "{{ subject.title }}"</strong>
                        <span id="svg-container-{{ subject.id }}"></span>
                        </span>
                    </p>
                {% endif %}
                <p>Hér gæti verið gott að byrja að lesa
                    <a href="{% url "section" subject.best_start.slug %}">{{ subject.best_start.title }}</a>.
                </p>
                <ul>
                    {% for section in subject.section_set.all %}
                        {% if section.visible %}
                            <li>
                                <a href="{% url "section" section.slug %}">{{ section.title }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </article>
{% endblock %}
{% if js_enabled %}
    {% block js %}
        <script src="{% static "d3/d3-min.js" %}"></script>
        <script src="{% static "d3-main-function.js" %}"></script>
    {% endblock %}
{% endif %}
</body>