{% load staticfiles %}

<!DOCTYPE html>
<meta charset="utf-8">
{% block css %}
    <link rel="stylesheet" href="{% static "d3-main-style.css" %}"/>
{% endblock %}
<body>
<ul>
    {% for subject in subjects %}
        <li><span id="subject-{{ subject.id }}" class="subject">{{ subject.title }}</span>
            <ul>
                {% for section in subject.section_set.all %}
                    <li>
                        <a href="{% url "section" section.slug %}">{{ section.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>
<div class="svg-container">
</div>
<script src="{% static "d3/d3-min.js" %}"></script>
{% block js %}
    <script src="{% static "d3-main-function.js" %}"></script>
{% endblock %}
</body>