venv
*.pyc
sql_web/static/d3/
staticfiles
mediafiles
.idea
.directory
*.csv
*.sh
*.json

report/*.aux
report/*.bbl
report/*.blg
report/*.lof
report/*.log
report/*.lol
report/*.lot
report/*.out
report/*.pdf
report/*.toc
report/*.backup
report/_minted*
