appdirs==1.4.3
beautifulsoup4==4.6.0
Django==1.11.1
django-ace==1.0.3
django-admin-sortable2==0.6.11
Markdown==2.6.8
olefile==0.44
packaging==16.8
Pillow==4.1.1
pyparsing==2.2.0
pytz==2017.2
six==1.10.0
whitenoise==3.3.0
