/* Navbar styles */

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    padding: 14px 14px;
    text-align: center;
}

nav ul li a:hover {
    background-color: #FFF0E0;
}

/* Spacing between subjects on the subject overview */

.subject-container {
    min-height: 350px;
}

.subject-container .marginnote {
    margin-top: -30px;
}

/* Text justification */

article {
    text-align: justify;
    text-justify: inter-word;
}

span.marginnote {
    /* Margin notes don't have the space for justification */
    text-align: left;
    text-justify: auto;
}

/* Code appearance */

pre.code {
    width: 100%;
    overflow-x: auto;
}

code.inline-sql {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-variant: small-caps;
    font-size: 1.125rem;
}

/* Styling tables with horizontal bars */

table {
    border-bottom: solid 2px black;
    border-top: solid 2px black;
}

table thead th {
    border-bottom: solid 1px black;
}

/*
Form styling
*/

/* User registration form */

.registration input[type=text] {
    width: 360px;
    display: block;
}

.registration input[type=password] {
    width: 360px;
    display: block;
}

.registration label {
    display: block;
    padding-top: 10px;
}

.registration .helptext {
    display: block;
}

/* Exercise input form */

.exercise-area label {
    display: block;
}

.exercise-area textarea {
    width: 52.5%;
}

.exercise-area input[type=submit] {
    display: block;
}

/* Settings change form */

.settings-change form {
    margin-top: 20px;
}

.settings-change label {
    font-size: 1.4rem;
}

.settings-change ul {
    list-style-type: none;
}