article {
    text-align: justify;
    text-justify: inter-word;
}

span.marginnote {
    /* Margin notes don't have the space for justification */
    text-align: left;
    text-justify: auto;
}

pre.code {
    width: 100%;
    overflow-x: hidden;
}

code.inline-sql {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-variant: small-caps;
    font-size: 1.125rem;
}

table {
    border-bottom: solid 2px black;
    border-top: solid 2px black;
}

table thead th {
    border-bottom: solid 1px black;
}