{% load staticfiles %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    {% block css %}
    {% endblock %}
    <link rel="stylesheet" href="{% static "style.css" %}"/>
    <link rel="shortcut icon" type="image/png"
          sizes="16x16 24x24 32x32 48x48" href="{% static "sql.ico" %}"/>
</head>
<body>
<nav>
    <ul>
        <li><a href="{% url "index" %}">SQL</a></li>
        <li><a href="{% url "sections" %}">Lesefni</a></li>
        <li><a href="{% url "exercises" %}">Æfingar</a></li>
        {% if user.is_authenticated %}
            <li><a href="{% url "profile" %}">Síðan mín</a></li>
            <li><a href="{% url "custom_logout" %}">Skrá út</a></li>
        {% else %}
            <li><a href="{% url "profile" %}">Skrá inn</a></li>
        {% endif %}
    </ul>
</nav>
{% block text_content %}
{% endblock %}
</body>
{% block js %}
{% endblock %}
</html>