{% load staticfiles %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static "tufte-css/tufte.css" %}"/>
    <link rel="stylesheet" href="{% static "style.css" %}"
    <link rel="shortcut icon" type="image/png" sizes="16x16 24x24 32x32 48x48" href="{% static "sql.ico" %}"/>
</head>
<body>
{% block text_content %}
{% endblock %}
</body>
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
</html>