{% if example %}
<p>
    <label for="{{ example.identifier }}" class="margin-toggle">
        ⊕
    </label>
    <input type="checkbox" id="{{ example.identifier }}"
           class="margin-toggle">
    <span class="marginnote nohide">
        {{ example.description }}
    </span>

    <pre class="code prettyprint">{{ example.code }}</pre>
</p>
{% else %}
    <strong>Hér vantar sýnidæmi!</strong>
{% endif %}

{#<p>#}
{#    <input type="checkbox" id="listing-{{ example.identifier }}" class="margin-toggle" />#}
{#<span class="marginnote">#}
{#    {{ example.description }}#}
{#</span>#}
{#<label for="listing-{{ example.identifier }}" class="margin-toggle">⊕</label>#}
{#</p>#}
{#<p>#}
{#    <pre class="code prettyprint">{{ example.code }}</pre>#}
{#</p>#}